.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: #FFF7BC;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #050505;
}

#footer p {
  margin: 0;
  font-size: 16px;
  color:#ffffff
}

h1 {
  font-size: calc( 1em + 10vmin );
  font-weight: 900;
  text-align:center;
  color: #050505;
  
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: #85C88A;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
  
}

.jumbotron{
  position: relative;
  padding:5px !important;
  margin-top:20px !important;
  background: #FFF89A;
  margin-top: 20px;
  text-align:center;
  margin-bottom: 30px !important;
  border:3px solid #050505;
}
.jumbotron .container-fluid{
  padding:5px !important;
}
h2, h5 {
  color:#050505;
  text-align:center;
}

p {
  text-align: center;
}


.navbar{
  background-color: #85C88A;
}

.nav-link{
  color: black;
}

.btn{
  position: relative;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:5px;
  color:#050505;
  background-color: #85C88A;
  transition-duration: 0.4s;
  border:1px solid #050505;
}

.btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  border:1px solid #050505;
}

.img-thumbnail {
  background-color: white;
  border: 1px solid #050505;
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}